---
import Layout from '../layouts/Layout.astro';
const posts = await Astro.glob('../posts/*.md')
const name = 'Nicki Minaj Sexy Pics';
---

<Layout title={name} description="this is my desc">

    <h1>{name}</h1>

    <p>Hello, and welcome to <a href="/">Nicki Minaj Sexy Pics</a>, we're an fansite for Nicki Minaj, focusing on showign some of hew most sexy pics.
    American rapper and artist Nicki Minaj is one of Instagram’s sexiest women. To check it out, just take a look at the photos she shares daily on her social networks. It’s no secret that Nicki Minaj loves to wear outfits that highlight her enviable measures and arouse forbidden passions among her followers around the world. In our gallery we present a series of Nicki Minaj Sexy Pictures, where we see Nicki more casual than ever. Don’t miss her!</p>
    <div id="image-container">
    </div>

    <div class="wrapper">

    <h2>Nicki Minaj Sexy Pics</h2>

    <p>Nicki Minaj, whose real name is Onika Tanya Maraj, is a Trinidadian-American rapper, singer, and songwriter.
    Born on December 8, 1982, in Saint James, Port of Spain, Trinidad and Tobago, she later moved to Queens, New York, in the United States.</p>

    <p>Nicki Minaj gained widespread attention and popularity with her mixtapes released between 2007 and 2009. 
      She signed with Young Money Entertainment in 2009 and released her debut album, "Pink Friday," in 2010, 
      which went on to be a massive success.</p>

    <h2>Nicki Minaj  Key Points:</h2>
    <ul>
        <li><strong>Distinctive Style</strong>: Nicki is known for her colorful and diverse personas and her unique style of rapping, which often includes the use of alter egos and accents.</li>
        <li><strong>Hits</strong>: Some of her hit songs include "Super Bass," "Anaconda," "Starships," and "Bang Bang."</li>
        <li><strong>Awards</strong>: Over her career, she has received numerous awards and nominations and is considered one of the best-selling female rap artists of all time.</li>
        <li><strong>Other Ventures</strong>: Apart from her music career, Minaj has taken on acting roles, has been a judge on the television show "American Idol," and has engaged in various business ventures, including her line of fragrances.</li>
        <li><strong>Advocacy</strong>: Minaj has been outspoken on issues like education and has used her platform to address various social issues.</li>
    </ul>

    <p>She has made a significant impact on the music industry and is known for breaking barriers in the predominantly male world of rap music.</p>

    <p>After flirting with Eminem on social networks and having a good time with Formula 1 champion Lewis Hamilton, 
      Nicki Minaj has now a new conquest. And once again, it is on her Instagram account that she formalizes her new 
      relationship. The 36-year-old rapper has just published a rather subjective photo in which she poses alongside 
      Kenneth Petty, her new boyfriend (photo below). If his fan community should have rejoiced in this new relationship, 
      it is not so. And for good reason, Kenneth Petty is a criminal. Or at least a former criminal convicted several times.
      Hope you'll find some sexy pics of Nicki Minaj in here.
    </p>

  </div>

</Layout>

<style>
    h1 {
        text-align: center;
    }

    .wrapper {
      width: 1100px;
      max-width: 90%;
      margin: 0 auto;
    }
</style>


<script>

    // set the subreddit name
const subreddit = 'Nicki_Minaj';

    // fetch the JSON data for the subreddit
fetch(`https://www.reddit.com/r/${subreddit}/.json`).then(response => response.json()).then(json => {

    console.log(json)
    // json console.log happi. You get all the listing.data.children.
    // what does filter do?
    const imagePosts = json.data.children.filter(post => {
    const postUrl = post.data.url;


    // until here: all the img urls from one different subreddit
    // console.log(postUrl)

    // check if the post URL ends in a common image file extension
      return postUrl.endsWith('.jpg') || postUrl.endsWith('.jpeg') || postUrl.endsWith('.png') || postUrl.endsWith('.gif');
    });

    // extract the image URLs from the image posts
    const imageUrls = imagePosts.map(post => post.data.url);

    // display the images on the page
    const imageContainer = document.querySelector('#image-container');
    imageUrls.forEach(url => {
      const img = document.createElement('img');
      img.src = url;
      img.classList.add("images_nicki");
      imageContainer.appendChild(img);
    });
  })
  .catch(error => {
    console.error(error);
  });



      // fetch the JSON data for the subreddit
      fetch(`https://www.reddit.com/r/aww/.json`)
  .then(response => response.json())
  .then(json => {
    console.log(json.data.children[0].data.url);
  }); // This is where the semicolon should be

</script>


